.main-container {
	text-align: center;
	position: relative;
}

.main-title {
	background: linear-gradient(90deg, #236690 40%, #ffffff 60%);
	background-clip: text;
	color: transparent;
	font-size: 50px;
	font: bolder;
}

.search {
	text-align: center;
	margin-bottom: 10px;
}

.search-input {
	color: black;
	outline: none;
	border: 1px solid rgb(199, 192, 192);
	border-radius: 7px;
	padding: 5px;
	font-size: 15px;
	color: black;
	font-weight: bold;
}

.search-description {
	display: none;
	transition: all 1s ease-in-out;
}

.search-description--active {
	display: inline-block;
	position: absolute;
	top: 130%;
	left: 42%;
	width: 15%;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	background: white;
	font-size: 20px;
	text-align: start;
	padding: 10px;
}

@media (max-width: 575px) {
	.search-description--active {
		position: absolute;
		top: 130%;
		left: 10%;
		width: 75%;
		border: 1px solid black;
		border-radius: 5px;
		color: black;
		background: white;
		font-size: 20px;
		text-align: start;
		padding: 10px;
	}
}

@media (min-width: 576px) {
	.search-description--active {
		position: absolute;
		top: 130%;
		left: 20%;
		width: 55%;
		border: 1px solid black;
		border-radius: 5px;
		color: black;
		background: white;
		font-size: 20px;
		text-align: start;
		padding: 10px;
	}
}

@media (min-width: 721px) {
	.search-description--active {
		display: inline-block;
		position: absolute;
		top: 130%;
		left: 42%;
		width: 15%;
		border: 1px solid black;
		border-radius: 5px;
		color: black;
		background: white;
		font-size: 20px;
		text-align: start;
		padding: 10px;
	}
}

.description-title {
	font-weight: bolder;
	margin: 0;
}

.description-pretitle {
	margin: 0;
	font-style: italic;
}

.searchBtn {
	padding: 5px;
	width: 80px;
	margin-left: 10px;
	cursor: pointer;
	color: black;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 15px;
	transition: all 0.5s ease;
	font-weight: bold;
}

.searchBtn:hover {
	color: steelblue;
}

.searchBtn:active {
	transform: translateY(5px);
}
