.main-container {
	text-align: center;
	position: relative;
}

.main-title {
	color: white;
}

.search {
	text-align: center;
	margin-bottom: 10px;
}

.search-input {
	outline: none;
	border: 1px solid gray;
	border-radius: 7px;
	padding: 5px;
	font-size: 15px;
	background: #afafaf;
}

.search-description {
	display: none;
}

.search-description--active {
	display: inline-block;
	position: absolute;
	top: 130%;
	left: 42%;
	width: 15%;
	border: 1px solid black;
	border-radius: 5px;
	color: black;
	background: #afafaf;
	font-size: 20px;
	text-align: start;
	padding: 10px;
}

@media (max-width: 575px) {
	.search-description--active {
		position: absolute;
		top: 130%;
		left: 10%;
		width: 75%;
		border: 1px solid black;
		border-radius: 5px;
		color: black;
		background: #afafaf;
		font-size: 20px;
		text-align: start;
		padding: 10px;
	}
}

@media (min-width: 576px) {
	.search-description--active {
		position: absolute;
		top: 130%;
		left: 20%;
		width: 55%;
		border: 1px solid black;
		border-radius: 5px;
		color: black;
		background: #afafaf;
		font-size: 20px;
		text-align: start;
		padding: 10px;
	}
}

@media (min-width: 721px) {
	.search-description--active {
		display: inline-block;
		position: absolute;
		top: 130%;
		left: 42%;
		width: 15%;
		border: 1px solid black;
		border-radius: 5px;
		color: black;
		background: #afafaf;
		font-size: 20px;
		text-align: start;
		padding: 10px;
	}
}

.description-title {
	margin: 0;
}

.description-pretitle {
	margin: 0;
}

.searchBtn {
	padding: 5px;
	width: 80px;
	margin-left: 10px;
	cursor: pointer;
	background-color: #afafaf;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 15px;
	transition: all 0.5s ease;
}

.searchBtn:active {
	transform: translateY(5px);
}
